# Игнорировать временные файлы, созданные Visual Studio
.vscode/
.vs/
bin/
obj/

# Игнорировать папку с пакетами NuGet
/packages/

# Игнорировать файлы и папки, созданные Rider
.idea/

# Игнорировать файлы, связанные с резервными копиями и обслуживанием
*.bak
*.bak.*
*.bak/*
[Tt]emp/
[Tt]est[Rr]esults/

# Игнорировать файлы конфигурации IDE
*.suo
*.user
*.userosscache
*.sln.docstates

# Игнорировать файлы проекта Rider
*.sln.iml

# Игнорировать локальные файлы настроек
.vssettings
*.vssscc

# Игнорировать файлы сертификатов
*.pfx
